@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}
body {
  background-color: #bec4b8;
}
html{
  scroll-behavior: smooth;
}
.Nav {
  color: white;
  width: 100%;
  height: 7vh;
  background-color: black;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.links {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.btn a,
.links a {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: all 1s;
}
.links a:hover {
  background-color: #bec4b8;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px 7.5px;
}
.main {
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
  background-color: #bec4b8;
  align-items: center;
}
.content {
  position: relative;
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 30px;
}
.content img {
  width: 290px;
  height: 300px;
  position: absolute;
  right: 0%;
}
.btn {
  font-size: 1.2rem;
  padding: 20px 30px;
  width: 15rem;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: none;
  transition: all 1.5s;
}
.btn:hover {
  width: 15.5rem;
  padding: 22px 30px;
}
#main-content {
  width: 100%;
  background-color: #bec4b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
#main-content h1 {
  margin: 20px;
}
.notes {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.notes-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.notes-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-notes, .all-notes1 {
  width: 97%;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.note,
.note-div {
  width: 15%;
  height: 250px;
  background-color: #fff;
  margin: 10.5px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 5px 5px 15px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.note-div:hover {
  width: 15.25%;
  height: 255px;
  cursor: pointer;
}
.in-note {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}
.input {
  height: 21%;
  width: 100%;
  display: flex;
  padding: 0px 10px;
  word-wrap: normal;
  overflow: hidden;
  margin: 4%;
}
.input h2 {
  font-size: 1.3rem;
}
.desc {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  overflow: hidden;
}
.note-div img {
  width: 80px;
  height: 80px;
  margin: 15px;
}
.create-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.note-container {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 10px 10px 15px grey, -10px -10px 15px grey;
  display: flex;
  position: fixed;
  top: 25%;
  right: 25%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.note-container1 {
  width: 45vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.note-container1 input {
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
#exit:hover, #create:hover {
  background-color: grey;
}
.btn1 {
  font-size: 1rem;
  padding: 15px 30px;
  width: 15rem;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: none;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.btn2 {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.btn2 button {
  height: 90%;
  width: 40%;
  background-color: black;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 2s;
}
.btn2 button:hover {
  height: 100%;
  width: 50%;
  font-size: 17px;
  background-color: red;
}
#contact {
  height: 30vh;
  width: 100%;
  background-color: black;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.line {
  height: 17%;
  width: 95%;
  color: white;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
}
.create-container1{
  display: none;
}
#edit-title{

  width: 100%;
  height: 20%;
}
#edit-desc{
  width: 100%;
  height: 60%;
  overflow-x: hidden;
  overflow-y: auto;
}
#desc, #desc-edit{
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 20px;
}
.exitBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  transition: all 0.5s;
}
.exitBtn:hover{
  cursor: pointer;
  background-color: tomato;
}
#trash{
  cursor: pointer;
}
#deleted-content {
  width: 100%;
  background-color: #bec4b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  position: absolute;
  top: -20px;
  display: none;
}
#main-content h1, #deleted-content h1{
  margin-top: 10px;
  text-align: center;
}
.about {
  height: 83%;
  width: 95%;
  color: white;
  display: flex;
  align-items: center;
}
.about-name {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.about-info {
  width: 70%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 30px 60px;
  font-size: 15px;
}
.about-info h2 {
  margin-bottom: 20px;
  font-weight: lighter;
  text-align: center;
}
.about-info p {
  font-size: 18px;
  color: gray;
}
.about-info img {
  margin: 5px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.about-info img:hover {
  background-color: grey;
}
@media only screen and (max-width:1024px){
    .main{
        height: 85vh;
    }
    .content{
        height: 40vh;
        font-size: 1.1rem;
    }
    .btn1{
        width: 10rem;
    }
    .note-container{
        height: 40vh;
    }
    .note, .note-div{
        width: 16.9%;
    }
    .all-notes, .all-notes1{
        min-height: 60vh;
    }
    .content img{
        width: 260px;
        height: 270px;
    }
    .links{
        width: 40%;
    }
}
@media only screen and (max-width:768px){
    .links{
        width: 60%;
    }
    .content{
        font-size: 0.7rem;
        height: 35vh;
    }
    .content img{
        width: 210px;
        height: 220px;
    }
    .note, .note-div{
        height: 200px;
    }
    .about-info img{
        width: 20px;
        height: 20px;
    }
    .about-info{
        padding: 30px 30px;
    }
    #contact{
        height: 20vh;
    }
    .note-div:hover{
        height: 205px;
        width: 17%;
    }
}